{% extends "base.html" %}
{% block title %} Página Inicial {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Editar Despesa</h1>
<form method="POST" action="{{ url_for('views.edit_expense', expense_id=expense.id) }}">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ expense.name }}" required>
    </div>

    <div class="form-group">
            <div class="form-check">
                <input type="checkbox" id="is_installment" name="is_installment" class="form-check-input" {% if expense.is_installment == 1 %} checked {% endif %}>
                <label for="is_installment" class="form-check-label">Parcelado</label>
            </div>
        </div>

        <div id="installment-fields" {% if expense.is_installment == 0 %} style="display: none;" {% endif %}>
            <!-- Campos para despesas parceladas -->
            <div class="form-group">
                <label for="installment_value">Valor da Parcela:</label>
                <input type="text" id="installment_value" name="installment_value"
                       oninput="formatarMoeda('installment_value')" value="{{ expense.installment_value }}" class="form-control" step="0.01">
            </div>
            <div class="form-group">
                <label for="installment_count">Número de Parcelas:</label>
                <input type="number" id="installment_count" name="installment_count" class="form-control" value="{{ expense.installment_count }}">
            </div>
            <div class="form-group">
                <label>Valor Restante:</label>
                <span id="valor_restante"></span>
            </div>
            <div class="form-group">
                <label for="due_date">Inicio da parcela:</label>
                <input type="date" id="due_date" name="due_date" value="{{ expense.due_date }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Informações das Parcelas:</label>
                <div id="parcelas-list">
                    <!-- Os três primeiros itens da lista de parcelas são exibidos aqui -->
                </div>
                <div id="show-all-installments" style="display: none;">
                    <!-- Os demais itens da lista de parcelas são exibidos aqui quando o usuário clica em "Ver todas as parcelas" -->
                </div>
                <span id="show-installments-span" class="link-span" style="display: none;">Ver todas as parcelas</span>
            </div>
        </div>
        <label for="value">Valor total:</label>
            <input type="text" id="value" name="value" oninput="formatarMoeda('value')" placeholder="Insira o valor"
                   class="form-control" value="{{ expense.value }}" {% if expense.is_installment == 1 %} aria-disabled="true" {% endif %}>

        <div class="form-group" id="date-field">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" class="form-control" value="{{ expense.date }}">
        </div>

        <div class="form-group">
            <label for="category">Categoria:</label>
            <select id="category" name="category" class="form-control">
                <option value="" selected disabled>Selecione uma categoria</option>
                <option value="1">Alimentação</option>
                <option value="2">Transporte</option>
                <option value="3">Moradia</option>
                <option value="4">Lazer</option>
                <option value="5">Educação</option>
                {% for category in user.categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="comment">Observação:</label>
            <textarea id="comment" name="comment" class="form-control" maxlength="500">{{ expense.comment }}</textarea>
        </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='expense.js') }}"></script>
{% endblock %}