{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<form method="post">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email"
               required>

        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha"
               required maxlength="24" minlength="8"><br>

        <input type="submit" value="Login" class="btn btn-primary" disabled>
    </div>
</form>
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}